<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Form Page</h1>
    <form action="/" method="post">
      <div><label for="name">Name</label></div>
      <input type="text" name="name" id="name" placeholder="Name" />
      <div><label for="email">Email</label></div>
      <input type="text" name="email" id="email" placeholder="Email" />
      <br></br>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </body>
</html>
