* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  background-color: rgb(8, 215, 129);
  height: 10vh;
  padding: 15px;
}

.add-user {
  text-align: center;
  background-color: rgb(8, 215, 129);
  margin-left: 1%;
  margin-top: 1%;
  font-size: 18px;
  padding: 15px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 15%;
}

.add-user a {
  text-decoration: none;
  color: black;
}

.add-user:hover {
  background-color: rgb(136, 255, 217);
  color: black;
}

.details {
  display: flex;
  flex-direction: column;
}

table {
  width: 50vw;
}

table td {
  border: 1px solid black;
  border-radius: 10px;
}

h2,
h3 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
}

.promote_btn {
  background-color: rgb(13, 151, 13);
  padding: 10px 7px;
  margin-left: 1%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  color: aliceblue;
}

.promote_btn a {
  text-decoration: none;
  color: white;
}

.delete_btn {
  background-color: rgb(226, 57, 23);
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}

.delete_btn a {
  text-decoration: none;
  color: white;
}

.form {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

#app-content {
  display: flex;
  justify-content: center;
}
